<div class="job-detail">
    <div nz-row>

        <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let photo of product.photos">
              <img alt="photo" [src]="photo.path"  class="product-img" (click)="onClickImg()"/>
            </div>
        </nz-carousel>
    </div>

    <div nz-row class="job-info">
        
        <div nz-col nzSpan="18" >
            <div nz-row>
                <h3 class="job-title">{{product.name}}</h3>
            </div>

            <div nz-row>
                <div class="job-info-txt">
                    <div>               
                        <span *ngIf="product.brandPhoto===null">{{product.brandName}}</span>
                        <img [src]="product.brandPhoto" *ngIf="product.brandPhoto!==null" class="brand-img"/>
                    </div>
                    <div>
                        <fa-icon [icon]="cretedatIcon" class="job-info-icon"></fa-icon><span class="created_at_product">{{formatDate(product.created_at)}}</span>
                    </div>
                </div>

            </div>
        </div>

        <div nz-col nzSpan="6" class="btn-container">
            <div nz-row>
               <p class="price-txt">{{product.price}} DT</p>
            </div>
            <div nz-row>
                <button nz-button nzType="primary" class="apply-btn" >Buy now</button>
            </div>
        </div>
       
       
    </div>

    <div>
        <hr class="border">
    </div>

    <div nz-row [nzGutter]="50">
        <div nz-col nzFlex="750px">
            <div nz-row>
                <nz-card class="job-detailes-card">
                    <h5>Product Info</h5>
                    <hr class="border-card">
                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                        <div nz-col class="gutter-row" [nzSpan]="12">
                            <div nz-row class="inner-box">
                                <fa-icon [icon]="myBuildingIcon" class="job-info-icon"></fa-icon><span>Brand</span>
                                <p>{{product.brandName}}</p>
                            </div>
                            <div nz-row class="inner-box">
                                <fa-icon [icon]="myJob" class="job-info-icon"></fa-icon><span>Price</span>
                                <p>{{product.price}} DT</p>
                             
                            </div>
                        </div>

                        <div nz-col class="gutter-row" [nzSpan]="12">

                            <div nz-row class="inner-box">
                                <fa-icon [icon]="cretedatIcon" class="job-info-icon"></fa-icon><span>Published</span>
                                <p>{{formatDate(product.created_at)}}</p>
                            </div>

                            <div nz-row class="inner-box">
                                <fa-icon [icon]="myLocationIcon" class="job-info-icon"></fa-icon><span>Category</span>
                                <p>category</p>
                            </div>  
                            
                        </div>
                        
                    </div>
                </nz-card>
            </div>

            <div nz-row>
                <div class="job-desc-detailes">
                    <h3>Description</h3>
                    <p>{{product.description}}</p>
                </div>
            </div>
        </div>

        <div nz-col nzFlex="auto">

            <div nz-row>
               
                <nz-card class="job-detailes-card">
                    <h5>Similar products</h5>
                    <hr class="border-card">

                    <div class="similar-job">

                        <div nz-row *ngFor="let smilarProduct of similarProducts | slice:0:4">
                            <div nz-col nzSpan="24">
                               
                                <nz-card  [nzBordered]="false" >
                                    <nz-card-meta
                                      [nzAvatar]="avatarTemplate"
                                      [nzTitle]="companyName"
                                      class="similar-job-card"
                                    ></nz-card-meta>
        
                                    <ng-template #avatarTemplate>
                                        <div class="product-photo-container">
                                            <img alt="photo" [src]="smilarProduct.photos[0].path"  *ngIf="smilarProduct.photos.length!==0" class="product-photo"/>
                                            <img nz-image nzSrc="error" [nzFallback]="fallback" alt="photo"  *ngIf="smilarProduct.photos.length===0"  class="product-photo"/> 
                                        </div>
                                    </ng-template>

                                    <ng-template #companyName>
                                        <div class="similar-job-title-container">
                                            <p><a routerLink="/job-detail/1" class="similar-job-title">{{smilarProduct.name}}</a></p>

                                            <div class="similar-btn-container">
                                                <button nz-button nzType="primary" class="apply-btn-similar"  nz-tooltip nzTooltipTitle="Buy Now"><i nz-icon nzType="shopping-cart" nzTheme="outline"></i></button>
                                                <button nz-button nzType="primary" class="apply-btn-similar view"  nz-tooltip nzTooltipTitle="View pictures"  (click)="onClick(smilarProduct.id)"><i nz-icon nzType="camera" nzTheme="outline"></i></button>
                                            </div>
                                            
                                        </div>

                                        <div class="similar-job-detail">

                                            <div class="jobType-container">
                                                <fa-icon [icon]="myJob"></fa-icon><span>{{smilarProduct.price}} DT</span>
                            
                                                <fa-icon [icon]="cretedatIcon"></fa-icon><span>{{formatDate(smilarProduct.created_at)}}</span>

                                            </div>
                                        </div>

                                        

                                    </ng-template>
                    
                                    

                                </nz-card>

                                <hr class="border-card">
                            </div>
                        </div>



                        
                        
                    </div>


                </nz-card>

            </div>

            
            

        </div>
    </div>
</div>
