<div class="jobs-day-container">
    <div nz-row class="jobs-day-text">
        <h2>Recent products</h2>
        <p>Search and connect with the right candidates faster</p>
    </div>

    <div nz-row class="job-day-cards">
        <div class="card-container">
            <nz-card  [nzActions]="[viewMore, applyQuick]" class="latest-job-card">
                        
                <nz-card-meta
                [nzAvatar]="avatarTemplate"
                [nzTitle]="titleCard"
                [nzDescription]="descriptionTmpl"
                ></nz-card-meta>

                <div nz-row  class="card-footer">
                    <div nz-col [nzSpan]="12">
                        <div class="job-type-container">
                            <p class="job-type" >Full Time</p> 
                        </div>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <div class="job-date-container">
                            <p class="job-date">17-02-1999</p>
                        </div>
                    </div>
                </div>
                
            </nz-card>
            <ng-template #avatarTemplate>
                <!--<nz-avatar [nzSize]="64" [nzSrc]="job.companyPhoto"  *ngIf="job.companyPhoto!==null"></nz-avatar>-->
                <nz-avatar [nzSize]="64"  nzIcon="user" ></nz-avatar>
               
            </ng-template>

            <ng-template #titleCard>
                <a routerLink="/job-detail/1" class="job-title">Title</a>
                <div class="job-location-title">
                    <fa-icon [icon]="locationIcon"></fa-icon>
                    <p>location</p> 
                </div>
            </ng-template>

            <ng-template #descriptionTmpl>
                <!--<p class="card-description" *ngIf="job.description.length<50">{{job.description}}</p>-->
                <p class="card-description">description</p>            
            </ng-template>

            <ng-template #viewMore>
                <a routerLink="/job-detail/1"><i nz-icon nzType="eye" nz-tooltip nzTooltipTitle="View more"></i></a>
            </ng-template>

            <ng-template #applyQuick>
                <fa-icon [icon]="myJob" nz-tooltip nzTooltipTitle="Quick apply" ></fa-icon>
            </ng-template>

        </div>
       
    </div>
</div>