<div class="jobs-day-container">
    <div nz-row class="jobs-day-text">
        <h2>Recent products</h2>
        <p>Search and connect with the right candidates faster</p>
    </div>

    <div nz-row class="job-day-cards">
        <div class="card-container" *ngFor="let product of products | slice:0:4">
            <!--
            <nz-card  [nzActions]="[viewMore, applyQuick]" class="latest-job-card">
                        
                <nz-card-meta
                [nzAvatar]="avatarTemplate"
                [nzTitle]="titleCard"
                [nzDescription]="descriptionTmpl"
                ></nz-card-meta>

                <div nz-row  class="card-footer">
                    <div nz-col [nzSpan]="12">
                        <div class="job-type-container">
                            <p class="job-type" >Full Time</p> 
                        </div>
                    </div>

                    <div nz-col [nzSpan]="12">
                        <div class="job-date-container">
                            <p class="job-date">17-02-1999</p>
                        </div>
                    </div>
                </div>
                
            </nz-card>
            <ng-template #avatarTemplate>
                <img [src]="product.photos[0]?.path"  />

                <img nz-image width="200px" height="200px" nzSrc="error" [nzFallback]="fallback" alt="no_photo" *ngIf="product.photos.length===0" /> `
               
            </ng-template>

            <ng-template #titleCard>
                <a routerLink="/job-detail/1" class="job-title">Title</a>
                <div class="job-location-title">
                    <fa-icon [icon]="locationIcon"></fa-icon>
                    <p>location</p> 
                </div>
            </ng-template>

            <ng-template #descriptionTmpl>
             
                <p class="card-description">description</p>            
            </ng-template>

            <ng-template #viewMore>
                <a routerLink="/job-detail/1"><i nz-icon nzType="eye" nz-tooltip nzTooltipTitle="View more"></i></a>
            </ng-template>

            <ng-template #applyQuick>
                <fa-icon [icon]="myJob" nz-tooltip nzTooltipTitle="Pictures"  (click)="onClick()"></fa-icon>
            </ng-template>
            -->

            <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit,addCart]" class="latest-job-card">
                <nz-card-meta
                  [nzTitle]="product.name"
                  [nzDescription]="descriptionTmpl"
                  
                ></nz-card-meta>

                <div nz-row  class="card-footer">
                    <p class="job-date">{{formatDate(product.created_at)}}</p>  
                </div>
            </nz-card>
            <ng-template #avatarTemplate>
                <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            </ng-template>
            <ng-template #coverTemplate>
                <div class="product-photo-container">
                    <img alt="photo" [src]="product.photos[0].path"  *ngIf="product.photos.length!==0" class="product-photo"/>
                    <img nz-image nzSrc="error" [nzFallback]="fallback" alt="photo"  *ngIf="product.photos.length===0"  class="product-photo"/> 
                </div>
            
            </ng-template>
            <ng-template #descriptionTmpl>
                <div nz-row  class="card-footer">
                

                    <div nz-col [nzSpan]="12">
                        <div class="job-type-container">
                            <p class="product-price">{{product.price}} DT</p>
                        </div>
                    </div>

                </div>
            </ng-template>
            <ng-template #actionSetting>
                <a routerLink="/job-detail/{{product.id}}"><i nz-icon nzType="eye" nz-tooltip nzTooltipTitle="View more"></i></a>

            </ng-template>
            <ng-template #actionEdit>
                <fa-icon [icon]="myJob" nz-tooltip nzTooltipTitle="Pictures"  (click)="onClick(product.id)"></fa-icon>
            </ng-template>

            <ng-template #addCart>

                <i nz-icon nzType="shopping-cart"  nz-tooltip nzTooltipTitle="Buy Now" nzTheme="outline"></i>
            </ng-template>
            

        </div>
       
    </div>
</div>